In [1]:
from modules.utils import load_datasets_statforecast_uni

In [2]:
data_path = '/Users/moji/PyTSF-MfG/data'
datasets = load_datasets_statforecast_uni(data_path)

/Users/moji/PyTSF-MfG/data/AirPassengers.csv
(144, 3)
/Users/moji/PyTSF-MfG/data/ETTh1.csv
(17420, 3)

In [3]:
datasets['ETTh1']

       unique_id                  ds          y
0              1 2016-07-01 00:00:00  30.531000
1              1 2016-07-01 01:00:00  27.787001
2              1 2016-07-01 02:00:00  27.787001
3              1 2016-07-01 03:00:00  25.044001
4              1 2016-07-01 04:00:00  21.948000
...          ...                 ...        ...
17415          1 2018-06-26 15:00:00  10.904000
17416          1 2018-06-26 16:00:00  11.044000
17417          1 2018-06-26 17:00:00  10.271000
17418          1 2018-06-26 18:00:00   9.778000
17419          1 2018-06-26 19:00:00   9.567000

[17420 rows x 3 columns]