In [1]:
from modules.utils import load_datasets_statforecast_uni

In [2]:
data_path = '/Users/moji/PyTSF-MfG/data'
datasets = load_datasets_statforecast_uni(data_path)

Loading dataset: air_passengers
File path: /Users/moji/PyTSF-MfG/data/AirPassengers.csv
Warning: Could not infer consistent date format for column 'Month'. Falling back to flexible parsing, which may be slow and inconsistent.
Date parsing complete for air_passengers
Dataset shape for air_passengers: (144, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  144 non-null    object
 1   ds         144 non-null    datetime64[ns]
 2   y          144 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.5+ KB
None
    unique_id         ds    y
0  Passengers 1949-01-01  112
1  Passengers 1949-02-01  118
2  Passengers 1949-03-01  132
3  Passengers 1949-04-01  129
4  Passengers 1949-05-01  121
Most common time difference: 31 days 00:00:00

Loading dataset: ETTh1
File path: /Users/moji/PyTSF-MfG/data/ETTh1.csv
Date parsing complete for ETTh1
Dataset shape for ETTh1: (17420, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17420 entries, 0 to 17419
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  17420 non-null  object
 1   ds         17420 non-null  datetime64[ns]
 2   y          17420 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 408.4+ KB
None
  unique_id                  ds          y
0        OT 2016-07-01 00:00:00  30.531000
1        OT 2016-07-01 01:00:00  27.787001
2        OT 2016-07-01 02:00:00  27.787001
3        OT 2016-07-01 03:00:00  25.044001
4        OT 2016-07-01 04:00:00  21.948000
Most common time difference: 0 days 01:00:00

Loading dataset: ETTm2
File path: /Users/moji/PyTSF-MfG/data/ETTm2.csv
Date parsing complete for ETTm2
Dataset shape for ETTm2: (69680, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69680 entries, 0 to 69679
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  69680 non-null  object
 1   ds         69680 non-null  datetime64[ns]
 2   y          69680 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ MB
None
  unique_id                  ds          y
0        OT 2016-07-01 00:00:00  38.661999
1        OT 2016-07-01 00:15:00  38.223000
2        OT 2016-07-01 00:30:00  37.344002
3        OT 2016-07-01 00:45:00  37.124001
4        OT 2016-07-01 01:00:00  37.124001
Most common time difference: 0 days 00:15:00

Loading dataset: ai4i2020
File path: /Users/moji/PyTSF-MfG/data/ai4i2020.csv
Dataset shape for ai4i2020: (10000, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  10000 non-null  object
 1   ds         10000 non-null  datetime64[ns]
 2   y          10000 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 234.5+ KB
None
             unique_id                  ds      y
0  Process_temperature 1970-01-01 00:00:00  308.6
1  Process_temperature 1970-01-01 00:01:00  308.7
2  Process_temperature 1970-01-01 00:02:00  308.5
3  Process_temperature 1970-01-01 00:03:00  308.6
4  Process_temperature 1970-01-01 00:04:00  308.7
Most common time difference: 0 days 00:01:00

Loading dataset: Steel_industry_Usage_kWh
File path: /Users/moji/PyTSF-MfG/data/Steel_industry.csv
Date parsing complete for Steel_industry_Usage_kWh
Dataset shape for Steel_industry_Usage_kWh: (35041, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35041 entries, 0 to 35040
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  35041 non-null  object
 1   ds         35041 non-null  datetime64[ns]
 2   y          35041 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 821.4+ KB
None
   unique_id                  ds     y
0  Usage_kWh 2018-01-01 00:15:00  3.17
1  Usage_kWh 2018-01-01 00:30:00  4.00
2  Usage_kWh 2018-01-01 00:45:00  3.24
3  Usage_kWh 2018-01-01 01:00:00  3.31
4  Usage_kWh 2018-01-01 01:15:00  3.82
Most common time difference: 0 days 00:15:00

Loading dataset: BrentOilPrices
File path: /Users/moji/PyTSF-MfG/data/BrentOilPrices.csv
Date parsing complete for BrentOilPrices
Dataset shape for BrentOilPrices: (12963, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12963 entries, 0 to 12962
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  12963 non-null  object
 1   ds         12963 non-null  datetime64[ns]
 2   y          12963 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 303.9+ KB
None
  unique_id         ds          y
0     Price 1987-05-20  18.630000
1     Price 1987-05-21  18.450000
2     Price 1987-05-22  18.550000
3     Price 1987-05-23  18.566667
4     Price 1987-05-24  18.583333
Most common time difference: 1 days 00:00:00

Loading dataset: ECL
File path: /Users/moji/PyTSF-MfG/data/ECL.csv
Date parsing complete for ECL
Dataset shape for ECL: (26304, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  26304 non-null  object
 1   ds         26304 non-null  datetime64[ns]
 2   y          26304 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 616.6+ KB
None
  unique_id                  ds       y
0    MT_320 2012-01-01 00:00:00  2162.0
1    MT_320 2012-01-01 01:00:00  2835.0
2    MT_320 2012-01-01 02:00:00  2764.0
3    MT_320 2012-01-01 03:00:00  2735.0
4    MT_320 2012-01-01 04:00:00  2721.0
Most common time difference: 0 days 01:00:00

Loading dataset: Monroe Water Treatment Plant
File path: /Users/moji/PyTSF-MfG/data/MWTP_Elec_Daily.csv
Warning: Could not infer consistent date format for column 'date'. Falling back to flexible parsing, which may be slow and inconsistent.
Date parsing complete for Monroe Water Treatment Plant
Dataset shape for Monroe Water Treatment Plant: (5357, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5357 entries, 0 to 5356
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  5357 non-null   object
 1   ds         5357 non-null   datetime64[ns]
 2   y          5357 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 125.7+ KB
None
   unique_id         ds        y
0  total_kwh 2010-01-01  13014.0
1  total_kwh 2010-01-02  14058.0
2  total_kwh 2010-01-03  14560.8
3  total_kwh 2010-01-04  14814.0
4  total_kwh 2010-01-05  15052.8
Most common time difference: 1 days 00:00:00

Loading dataset: Appliances Energy
File path: /Users/moji/PyTSF-MfG/data/energydata_complete.csv
Date parsing complete for Appliances Energy
Dataset shape for Appliances Energy: (19735, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  19735 non-null  object
 1   ds         19735 non-null  datetime64[ns]
 2   y          19735 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 462.7+ KB
None
     unique_id                  ds      y
0  Press_mm_hg 2016-01-11 17:00:00  733.5
1  Press_mm_hg 2016-01-11 17:10:00  733.6
2  Press_mm_hg 2016-01-11 17:20:00  733.7
3  Press_mm_hg 2016-01-11 17:30:00  733.8
4  Press_mm_hg 2016-01-11 17:40:00  733.9
Most common time difference: 0 days 00:10:00

Loading dataset: Seoul Bike Demand
File path: /Users/moji/PyTSF-MfG/data/SeoulBikeData_processed.csv
Date parsing complete for Seoul Bike Demand
Dataset shape for Seoul Bike Demand: (8760, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  8760 non-null   object
 1   ds         8760 non-null   datetime64[ns]
 2   y          8760 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 205.4+ KB
None
           unique_id                  ds    y
0  Rented_Bike_Count 2017-12-01 00:00:00  254
1  Rented_Bike_Count 2017-12-01 01:00:00  204
2  Rented_Bike_Count 2017-12-01 02:00:00  173
3  Rented_Bike_Count 2017-12-01 03:00:00  107
4  Rented_Bike_Count 2017-12-01 04:00:00   78
Most common time difference: 0 days 01:00:00

Loading dataset: Gas sensor dynamic gas mixtures
File path: /Users/moji/PyTSF-MfG/data/gas_sensors_dynamic_mixtures.csv
Date parsing complete for Gas sensor dynamic gas mixtures
Dataset shape for Gas sensor dynamic gas mixtures: (41791, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41791 entries, 0 to 41790
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  41791 non-null  object
 1   ds         41791 non-null  datetime64[ns]
 2   y          41791 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 979.6+ KB
None
   unique_id                  ds        y
0  sensor_16 1970-01-01 00:00:00  3128.49
1  sensor_16 1970-01-01 00:00:01  3131.01
2  sensor_16 1970-01-01 00:00:02  3128.21
3  sensor_16 1970-01-01 00:00:03  3133.82
4  sensor_16 1970-01-01 00:00:04  3135.50
Most common time difference: 0 days 00:00:01

Loading dataset: Gas sensor temperature modulation
File path: /Users/moji/PyTSF-MfG/data/gas_sensors_temperature.csv
Date parsing complete for Gas sensor temperature modulation
Dataset shape for Gas sensor temperature modulation: (36602, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36602 entries, 0 to 36601
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  36602 non-null  object
 1   ds         36602 non-null  datetime64[ns]
 2   y          36602 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 858.0+ KB
None
     unique_id                  ds          y
0  Temperature 2016-09-30 00:00:00  26.592366
1  Temperature 2016-09-30 00:00:30  26.620000
2  Temperature 2016-09-30 00:01:00  26.602198
3  Temperature 2016-09-30 00:01:30  26.598585
4  Temperature 2016-09-30 00:02:00  26.586248
Most common time difference: 0 days 00:00:30

Loading dataset: ISO-NY
File path: /Users/moji/PyTSF-MfG/data/ISO-NY_Central.csv
Date parsing complete for ISO-NY
Dataset shape for ISO-NY: (58324, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58324 entries, 0 to 58323
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  58324 non-null  object
 1   ds         58324 non-null  datetime64[ns]
 2   y          58324 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.3+ MB
None
  unique_id                  ds          y
0      Load 2023-01-01 00:00:00  1452.1995
1      Load 2023-01-01 00:15:00  1446.8088
2      Load 2023-01-01 00:30:00  1393.8522
3      Load 2023-01-01 00:45:00  1434.0576
4      Load 2023-01-01 01:00:00  1416.6898
Most common time difference: 0 days 00:15:00
the number of datasets: 13

In [3]:
datasets['Steel_industry_Usage_kWh']

       unique_id                  ds     y
0      Usage_kWh 2018-01-01 00:15:00  3.17
1      Usage_kWh 2018-01-01 00:30:00  4.00
2      Usage_kWh 2018-01-01 00:45:00  3.24
3      Usage_kWh 2018-01-01 01:00:00  3.31
4      Usage_kWh 2018-01-01 01:15:00  3.82
...          ...                 ...   ...
35036  Usage_kWh 2018-12-31 23:15:00  3.74
35037  Usage_kWh 2018-12-31 23:30:00  3.78
35038  Usage_kWh 2018-12-31 23:45:00  3.78
35039  Usage_kWh 2018-12-31 00:00:00  3.67
35040  Usage_kWh 2018-12-31 20:00:00  4.15

[35041 rows x 3 columns]

In [10]:
df = datasets['Steel_industry_Usage_kWh']
# Display basic information about the dataset
print("Dataset info:")
print(df.info())

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35041 entries, 0 to 35040
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   unique_id  35041 non-null  object
 1   ds         35041 non-null  datetime64[ns]
 2   y          35041 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 821.4+ KB
None

In [12]:
print("\nDataset head:")
print(df.head())
# Check for duplicate timestamps
duplicates = df[df.duplicated(subset=['ds'], keep=False)]
print(f"\nNumber of rows with duplicate timestamps: {len(duplicates)}")

Dataset head:
   unique_id                  ds     y
0  Usage_kWh 2018-01-01 00:15:00  3.17
1  Usage_kWh 2018-01-01 00:30:00  4.00
2  Usage_kWh 2018-01-01 00:45:00  3.24
3  Usage_kWh 2018-01-01 01:00:00  3.31
4  Usage_kWh 2018-01-01 01:15:00  3.82

Number of rows with duplicate timestamps: 2

In [13]:
if len(duplicates) > 0:
    print("\nSample of duplicate timestamps:")
    print(duplicates.head(10))  # Show first 10 duplicates

    # Option 1: Keep the first occurrence of each timestamp
    df_deduped = df.drop_duplicates(subset=['ds'], keep='first')

    # Option 2: Aggregate data for duplicate timestamps (e.g., taking the mean)
    # df_deduped = df.groupby(['unique_id', 'ds'])['y'].mean().reset_index()

    print(f"\nShape of dataset after deduplication: {df_deduped.shape}")

    # Check if deduplication resolved the issue
    if df_deduped['ds'].is_unique:
        print("Deduplication successful. Timestamps are now unique.")
    else:
        print("Deduplication did not resolve all duplicates. Further investigation needed.")

    # Save the deduplicated dataset
    output_path = '/Users/moji/PyTSF-MfG/data/deduplicated_dataset.csv'  # Replace with your desired output path
    df_deduped.to_csv(output_path)
    print(f"\nDeduplicated dataset saved as: {output_path}")

else:
    print("No duplicate timestamps found. The issue may be elsewhere.")

Sample of duplicate timestamps:
       unique_id                  ds     y
35023  Usage_kWh 2018-12-31 20:00:00  4.14
35040  Usage_kWh 2018-12-31 20:00:00  4.15

Shape of dataset after deduplication: (35040, 3)
Deduplication successful. Timestamps are now unique.

Deduplicated dataset saved as: /Users/moji/PyTSF-MfG/data/deduplicated_dataset.csv

In [15]:
import pandas as pd
# Additional checks
print("\nUnique values in 'unique_id' column:")
print(df['unique_id'].unique())

print("\nDate range:")
print(f"Start: {df['ds'].min()}")
print(f"End: {df['ds'].max()}")

# Check for any inconsistencies in the time intervals
df['ds'] = pd.to_datetime(df['ds'])
time_diff = df['ds'].diff()
inconsistent_intervals = time_diff[time_diff != pd.Timedelta(minutes=15)]
if not inconsistent_intervals.empty:
    print("\nInconsistent time intervals found:")
    print(inconsistent_intervals.head())
else:
    print("\nAll time intervals are consistent (15 minutes).")

Unique values in 'unique_id' column:
['Usage_kWh']

Date range:
Start: 2018-01-01 00:00:00
End: 2018-12-31 23:45:00

Inconsistent time intervals found:
0                   NaT
95    -1 days +00:15:00
96      1 days 00:15:00
191   -1 days +00:15:00
192     1 days 00:15:00
Name: ds, dtype: timedelta64[ns]

In [ ]:
data_path = '/Users/moji/PyTSF-MfG/data'
datasets = load_datasets_statforecast_uni(data_path)

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/Users/moji/PyTSF-MfG/data/BrentOilPrices.csv')
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
# Set 'Date' as the index
df.set_index('Date', inplace=True)
# Sort the index to ensure chronological order
df.sort_index(inplace=True)
# Create a complete date range including weekends
date_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='D')
# Reindex the dataframe with the complete date range
df_reindexed = df.reindex(date_range)
# Check for missing values after reindexing
print("Missing values after reindexing (including weekends):")
print(df_reindexed.isnull().sum())
# Interpolate missing values
df_interpolated = df_reindexed.interpolate(method='time')
# Check for missing values after interpolation
print("\nMissing values after interpolation:")
print(df_interpolated.isnull().sum())
# Fill any remaining NaN values at the beginning or end with the nearest valid value
df_interpolated = df_interpolated.fillna(method='bfill').fillna(method='ffill')

# Save the new dataset without missing values
output_path = '/Users/moji/PyTSF-MfG/data/BrentOilPrices_Interpolated.csv'
df_interpolated.to_csv(output_path)
print(f"\nNew dataset saved as '{output_path}'")

# Display the first few rows of the interpolated dataset
print("\nFirst few rows of the interpolated dataset:")
print(df_interpolated.head())

# Display basic statistics of the interpolated dataset
print("\nBasic statistics of the interpolated dataset:")
print(df_interpolated.describe())

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/Users/moji/PyTSF-MfG/data/ISO-NY_Central.csv')
print(df.shape)
# Convert 'Time_Stamp' column to datetime
df['Time_Stamp'] = pd.to_datetime(df['Time_Stamp'])

# Set 'Time_Stamp' as the index
df.set_index('Time_Stamp', inplace=True)

# Sort the index to ensure chronological order
df.sort_index(inplace=True)

# Create a complete time range with 15-minute intervals
time_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='15min')

# Reindex the dataframe with the complete time range
df_reindexed = df.reindex(time_range)
print(df_reindexed.shape)
# Check for missing values after reindexing
print("Missing values after reindexing:")
print(df_reindexed.isnull().sum())
# Interpolate missing values
df_interpolated = df_reindexed.interpolate(method='time')
# Check for missing values after interpolation
print("\nMissing values after interpolation:")
print(df_interpolated.isnull().sum())
# Fill any remaining NaN values at the beginning or end with the nearest valid value
df_interpolated = df_interpolated.fillna(method='bfill').fillna(method='ffill')
# Final check for missing values
print("\nFinal check for missing values:")
print(df_interpolated.isnull().sum())

# Save the new dataset without missing values
output_path = '/Users/moji/PyTSF-MfG/data/LoadData_Interpolated.csv'
df_interpolated.to_csv(output_path)

print(f"\nNew dataset saved as '{output_path}'")

# Display the first few rows of the interpolated dataset
print("\nFirst few rows of the interpolated dataset:")
print(df_interpolated.head())

# Display basic statistics of the interpolated dataset
print("\nBasic statistics of the interpolated dataset:")
print(df_interpolated.describe())
# Check for any gaps in the time series
time_diff = df_interpolated.index.to_series().diff()
gaps = time_diff[time_diff > pd.Timedelta(minutes=15)]
if not gaps.empty:
    print("\nGaps found in the time series:")
    print(gaps)
else:
    print("\nNo gaps found in the time series.")